{
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "extends": ["eslint:recommended"],
  "plugins": ["prettier", "import"],
  "rules": {
    "no-console": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never"
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "comments": 120,
        "ignoreUrls": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid"
      }
    ]
  }
}
